<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Model</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form>
          <div class="mb-3 form-floating">
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              aria-describedby="emailHelp"
              placeholder="Enter title"
              (value)="title"
              [(ngModel)]="title"
            />
            <label for="title" class="form-label">Title</label>
          </div>
          <div class="mb-3 form-floating">
            <textarea
              name="message"
              id="message"
              class="form-control"
              cols="30"
              rows="10"
              placeholder="Enter your message"
              (value)="message"
              [(ngModel)]="message"
            ></textarea>
            <label for="message" class="form-label">Message</label>
          </div>

          <div class="row form-floating">
            <div class="col-md-12">
              <div class="mb-3 form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  name="favorite"
                  name="favorite"
                  id="favorite"
                  (value)="favorite"
                  [(ngModel)]="favorite"
                />
                <label class="form-check-label" for="favorite">Favorite</label>
              </div>
            </div>
            <div class="col-md-12">
              <input
                type="color"
                class="form-control form-control-color"
                id="color"
                title="Choose your color"
                name="color"
                (value)="color"
                [(ngModel)]="color"
              />
            </div>
          </div>
          <div class="d-grid gap-2 mt-3">
            <button class="btn btn-secondary" type="submit"> <fa-icon [icon]="faEdit"></fa-icon>Edit</button>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
